/* Home */

* {
    padding: 0%;
    margin: 0%;
}


.container-1 {

    height: 100vh;
}

.header {
   
    height: 10vh;
    position: fixed;
    z-index: 10;
    left: 50%;
padding: 20px;



}



a {
    text-decoration: none;
    padding: 20px;
    font-size: 30px;
}


hr {
    position: fixed;
    border: 2px solid;

}


.yuva {

    display: flex;
    justify-content: center;
    align-items: center;
}


.text-1 {

    position: absolute;
    left: 20%;
    top: 45%;
    font-size: 40px;

}


.text-2 {

    position: absolute;
    left: 25%;
    top: 55%;
    font-size: 30px;

}


.image {

    position: absolute;
    left: 55%;
    top: 30%;
    border-radius: 80%;

}


/* Education */


.container-2 {

    height: 100vh;

}




.three {

    position: absolute;
    left: 20%;
    top: 140%;
    font-size: 40px;
}

.four {

    position: absolute;
    left: 40%;
    top: 150%;
    font-size: 30px;
}


/* skill */

.container-3 {

    height: 100vh;

}


.html {

    position: absolute;
    left: 15%;
    top: 240%;

}


.css {
    position: absolute;
    left: 30%;
    top: 240%;

}

.paint {

    position: absolute;
    left: 55%;
    top: 240%;

}

.runninr {

    position: absolute;
    left: 78%;
    top: 240%;
}

.number-1 {

    position: absolute;
    left: 20%;
    top: 270%;
    font-size: 40px;
}

.number-2 {

    position: absolute;
    left: 38%;
    top: 270%;
    font-size: 40px;
}


.number-3 {

    position: absolute;
    left: 60%;
    top: 270%;
    font-size: 40px;
}



.number-4 {

    position: absolute;
    left: 80%;
    top: 270%;
    font-size: 40px;
}





/* About Me */


.container-4 {

    height: 100vh;

}



.image-1 {
    position: absolute;
    left: 10%;
    top: 320%;
    border-radius: 60%;
}


.about {

    position: absolute;
    left: 40%;
    top: 340%;
    font-size: 40px;
}


/* contact */


.container-5 {

    height: 100vh;
}




.main {

    display: flex;

}

/* main-1 */

.name {
    position: absolute;
    left: 30%;
    top: 420%;
    font-size: 50px;
}

.Email {
    position: absolute;
    left: 30%;
    top: 440%;
    font-size: 50px;
}


.Mobile {

    position: absolute;
    left: 30%;
    top: 460%;
    font-size: 50px;
}

.Address {

    position: absolute;
    left: 30%;
    top: 480%;
    font-size: 50px;
}



/* main-2 */


.yuva-1 {

    position: absolute;
    left: 50%;
    top: 420%;
    font-size: 40px;
}

.yuva-2 {

    position: absolute;
    left: 50%;
    top: 440%;
    font-size: 40px;
}

.yuva-3 {
    position: absolute;
    left: 50%;
    top: 460%;
    font-size: 40px;
}


.yuva-4 {

    position: absolute;
    left: 50%;
    top: 480%;
    font-size: 40px;

}
















































































































