* {
    padding: 0%;
    margin: 0%;

   
}
html{
    overflow-x: hidden;
}

#home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100vw;
    height: 10vh;
    position: fixed;
    z-index: 10;
    padding: 5px;
    background-color: darkcyan;

}

.header nav {
    float: right;
    margin-top: 1%;
    margin-right:15px ;

}

nav a {
    text-decoration: none;
    padding-top: 17px;
    font-size: 30px;
    margin-right: 16px;
    color: white;
}

nav a:hover {
    color: black;
}



.text-1 {
     width: 300px;
     height: 110px;
     background-color: rgb(88, 172, 177);
     border-radius: 10%;
     animation: rotate 2s infinite;
    position: absolute;
    left: 35%;
    top: 45%;
    font-size: 40px;
    text-align: center;
  
  

}


.text-2 {

    position: absolute;
    left: 35%;
    top: 59%;
    font-size: 30px;

}



 .gallery {
 position: absolute;
 left: 60%;
}

.photo {
    width: 300px; 
    height: auto; 
    border-radius: 80%; 
    box-shadow: 19 5px 40px rgba(199, 147, 16, 0.7); 
    transition: transform 0.3s, box-shadow 0.3s; 

}
.photo:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 300px rgb(31, 208, 119);
 
}


/* About Me */


#about {
    width: 100vw;
    height: 100vh;

}




.gallery-1 {
    position: absolute;
    left: 5%;
    top: 130%;
   }
   
   .photo-1{
  
       width: 300px; 
       height: auto; 
       border-radius: 10%; 
       box-shadow: 19 10px 40px rgba(12, 80, 183, 0.7); 
       transition: transform 0.3s, box-shadow 0.3s; 
 
   }
   .photo-1:hover {
       transform: scale(1.05); 
       box-shadow: 0 1px 900px rgb(222, 21, 178);
   } 

.my{
position: absolute;
left: 30%;
font-size: 40px;
top: 140%;
}

/* Education */

#education {
    height: 100vh;
    width: 100vw;
}
.gallery-2 {
    position: absolute;
    left: 5%;
    top: 220%;
   }
   
   .photo-2{
  
       width: 300px;
       height: 600px; 
       border-radius: 80%; 
       box-shadow: 19 10px 40px rgba(12, 80, 183, 0.7); 
       transition: transform 0.3s, box-shadow 0.3s; 
 
   }
   .photo-2:hover {
       transform: scale(1.05); 
       box-shadow: 0 1px 900px rgb(52, 9, 195);
   } 


.one{

    position: absolute;
    left: 35%;
    font-size: 40px;
    top: 230%;
}

.two{

    position: absolute;
    left: 30%;
    top: 245%;
    font-size: 30px;
    
}

/* skill */
#skill{
    height: 100vh;
    width: 100vw;
}

.html{
    position: absolute;
    top: 335%;
    left: 10%;

}

.photo-3{
  
    width: 200px;
    height: 200px; 
    transition: transform 0.3s, box-shadow 0.3s; 

}
.photo-3:hover {
    transform: scale(1.05); 
    box-shadow: 0 1px 900px rgb(234, 139, 5);
} 



.css{
    position: absolute;
    top:335%;
    left:30%;
}

.photo-4{
  
    width: 200px;
    height: 200px; 
    transition: transform 0.3s, box-shadow 0.3s; 

}
.photo-4:hover {
    transform: scale(1.05); 
    box-shadow: 0 1px 900px rgb(231, 33, 7);
} 


.paint{
    position: absolute;
    top: 335%;
    left: 52%;
}

.photo-5{
  
    width: 200px;
    height: 200px; 
    transition: transform 0.3s, box-shadow 0.3s; 

}
.photo-5:hover {
    transform: scale(1.05); 
    box-shadow: 0 1px 900px rgb(2, 128, 159);
} 
.running{
    position: absolute;
    top: 335vh;
    left:70vw ;

}

.photo-6{
  
    width: 200px;
    height: 200px; 
    transition: transform 0.3s, box-shadow 0.3s; 

}
.photo-6:hover {
    transform: scale(1.05); 
    box-shadow: 0 1px 900px rgb(4, 1, 78);
} 



.num1{
    position: relative;
    top: 65%;
    left: 15%;
    font-size: 40px;
    animation: colorChange 1s infinite alternate;
}

.num2{
    position: relative;
    top: 60%;
    left: 35%;
    font-size: 40px;
    animation: colorChange 1s infinite alternate;
}

.num3{
    position: relative;
    top: 56%;
    left: 55%;
    font-size: 40px;
    animation: colorChange 1s infinite alternate;
}

.num4{
    position: relative;
    top: 50%;
    left: 75%;
    font-size: 40px;
    animation: colorChange 1s infinite alternate;
}


/* contact */
#contact{
    height: 100vh;
    width: 100vw;
}

.contact{
    position: relative;
    top: 30%;
    left: 30%;
}

.contact h4{
    font-size: 3em;
    line-height: 100px;
}



@keyframes rotate {
   
    40% {
        transform: translatex(-150px); 
    }
   
} 
 

@keyframes colorChange {
    0% {
        color: #ff5733; /* Red */
    }
    25% {
        color: #33ff57; /* Green */
    }
    50% {
        color: #3357ff; /* Blue */
    }
    75% {
        color: #f1c40f; /* Yellow */
    }
    100% {
        color: #9b59b6; /* Purple */
    }
}










